{% extends 'bienvenida.html' %}
{% block title %} Crear nuevo posteo {% endblock %}
{% block content %}
{% if user.is_authenticated %}
<h1 style="text-align:center;">Agregar Posteo</h1>
<br/>
<div class="form-group">
<form method="post" class="container" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <br/>
    
    <button type="submit" class="btn btn-primary">Agregar</button>
</form>
</div>
    <script>
        var name = "{{ user.id }}";
        document.getElementById("autor").value = name;
    </script>
{% else %}

<h1 style="color: red;">No está permitido.</h1>
{% endif %}
{% endblock %}