<!DOCTYPE html>
<html lang="">
<head>
<title> AYUDA </title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <h1> VOLUNTARIADO SOCIAL </h1>
  <p> <h2>Para colaborar con nosotros podes hacerlo de varias maneras: </h2><br>
    <li>Poder Donar tu Tiempo siendo voluntario</li>
    <li>Podes Donar Una Contribución Mensual (CONTACTÁ POR WHATSAPP)</li>
    <li>Poder Enviarnos Donaciones de ROPA, ÚTILES, JUGUETES, MERCADERÍAS</li>

  <h2>¿Qué es el voluntariado social?</h2>
Es el trabajo que las personas hacen por solidaridad y sin recibir un sueldo en organizaciones que no tienen 
como fin obtener ganancias.
<br><br>
<h2>Derechos y obligaciones</h2>
<h2>¿Qué derechos tengo como voluntario?</h2>
A estar informado sobre el trabajo de la organización.
A capacitarte.
A que te registren en el libro de voluntarios de la organización.
A tener una identificación como voluntario.
A que te devuelvan los gastos que hayas hecho por tu trabajo como voluntario si así lo arreglaste antes con 
la organización.
<br><br>

<h2>¿Qué obligaciones tengo como voluntario social?</h2>
Trabajar con cuidado y aceptar los fines y objetivos de la organización.
Respetar los derechos de las personas para las que trabaja la organización.
No dar ningún tipo de información que tengas por tu trabajo como voluntario si esa información puede afectar
los derechos de otras personas.
Participar en las capacitaciones que haga la organización para mejorar tu actividad.
No recibir beneficios económicos de las personas para las que trabaja la organización.
Darle buen uso a las identificaciones o distintivos que te haya dado la organización

<h2>¿Los menores de edad pueden ser voluntarios sociales?</h2>
Sí. Pero necesitan el acuerdo de sus padres o representantes.

<h2>¿Qué beneficios tengo por ser voluntario social?</h2>
Recibir capacitaciones.
Tu actividad como voluntario sirve como antecedente en los concursos para ingresar como empleado en el Estado.
    
  </p>
  

</body>

</html>
