{% extends 'bienvenida.html' %}

{% block title %} {{ post.titulo }} {% endblock %}
{% block content %}
<div class="container">
<h1>{{ post.titulo.title }}</h1><br/>
<small>Por: {{ post.autor.first_name }} - {{ post.fecha }} - 
    {%if user.is_authenticated %}
    <a href="{% url 'editar_posteo' post.pk %}" style="font-size: 15px;">[Editar]</a>
    <a href="{% url 'borrar_posteo' post.pk %}" style="font-size: 15px;">[Eliminar]</a></small>
    {% endif %}
<hr> <br/>
{% if post.imagen %}
<img src="{{ post.imagen.url }}">
{% endif %}
<div class="card-body ">    
    <p class="text-justify">
        {{ post.contenido | safe }}
    </p>
        
</div>

<br/><br/>
{%if user.is_authenticated %}
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-info btn-sm", type="submit", name="post_id", value=" {{ post.id }} "><p class="fa fa-thumbs-up">    {{ total_likes }} </p></button> <span>Like(s)</span>
      
</form>
{% endif %}
<a style= "margin: 10px;"href="{% url 'home'%}" class="btn btn-primary">Volver</a>
<a style= "margin: 10px;"href="https://www.facebook.com/sharer/sharer.php?u=" class="btn btn-success">Compartir</a>
<div>
   
{% endblock %}


<a type="submit" name="post_id" href="{% url 'like_post' post.id %}" value="{{ post.id }}" class="btn btn-info btn-lg">
    <span class="fa fa-thumbs-up"></span> {{ total_likes }} Likes
  </a>

  