{% extends 'bienvenida.html' %}
{% load static %}
{% block content %}
<div class="container">
<h1 style="text-align:center">Brindamos Talleres de Acompañamiento en Duelo</h1>
<br>
<div>
    <h4 style="text-align: justify;">
        Contamos con un grupo de apoyo y especialistas que buscan empatizar y brindar lo mejor para acompañar
        a las personas atravesando el duelo.</dd>
    </h4>
    <p style="text-align: justify;">El taller va dirigido a seres queridos de personas atravesando el duelo, y a personas que están haciendo el duelo.
        Podes Contactarnos vía WhatsApp, Instagram o a nuestro Facebook para recibir más información de los DÍAS Y
        HORARIOS.
    </p>
</div>
<div style="margin-left: auto; margin-right: auto;">
    <img src="{% static 'blog/images/foto.jpeg' %}" width="500"/>
    <img src="{% static 'blog/images/foto2.jpeg' %}" width="500"/>
</div>
</div>

{% endblock %}