{% extends 'base.html' %}
{% block title %} Editar posteo {% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h1 style="text-align:center;">Editar Posteo</h1>
<br/>
<div class="form-group">
<form method="post" class="container" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
</div>
{% else %}
<h1 style="color: red;">No está permitido.</h1>
{% endif%}
{% endblock %}
