{% extends 'bienvenida.html' %}
{% load static %}
{% block content %}
<body>
    <div class="container"> 
        
        <h1 style="text-align: center;"> NUESTRO MERENDERO </h1>
        <br>
        <h2> Merendero</h2>
        <p>  Se trabaja con distintos merenderos de la ciudad, no sólo ayudando en la proporción de alimentos sino también generando talleres que se conviertan en espacios recreativos, educativos y de acompañamiento espiritual para las infancias </p>
        <br>
        <h3>Finalidad</h3
        <p> De que por intermedio de ellos, se pueda incluir al grupo familiar al proyecto.</p>
        <h3>Contactos</h3>
        <p> <span style="text-decoration: underline;"> Encargada: </span> Maria José </p>
        <p> <span style="text-decoration: underline;"> Colaboradoras: </span> Romina, Elsa, Ely y Sonia</p>
        <p> <span style="text-decoration: underline;" > <a href="https://api.whatsapp.com/send?phone=543725455384">Otras Consultas: </a></span> WhatsApp</p>
        <div align="center"><img src="{% static 'blog/images/merendero.jpeg' %}" width="600"/></div>
    </div>
</body>
{% endblock %}