{% extends 'bienvenida.html' %}
{% load static %}
{% block content %}
<body>
    <div class="container">
  <h1 style="text-align: Center;"> NUESTROS OBJETIVOS </h1>

<br>
<li style="text-align: justify;"> Crear un espacio de contención y superación (económica, cultural, educativa, moral,
    social) principalmente destinada a niños y adolescentes más vulnerables de nuestra
    comunidad de Gral. San Martin, Chaco.</li>
<li style="text-align: justify;"> Propagar la Institución a la población (niños, jóvenes y su grupo
        familiar). Fomentando y brindando actividades de diversa índole tales como: <span style="color:blue">alimentacion adecuada</span>
        a través del funcionamiento de un merendero, <span style="color:blue">Control nutricional y ayudas económicas</span> 
        (brindando alimentos y medicamentos). <span style="color:blue">Educativas, culturales y recreativas</span> 
        a través de apoyo escolar, enseñanza de artes (dibujo, pintura,
        danzas), además talleres y oficios (construcción, peluquería, realización de artesanías,
        panadería, etc). <span style="color:blue">Controles médicos, odóntologicos, psicológicos</span> ayuda moral o
        espiritualidad.</li>
<li style="text-align: justify;"> Realizar diversos eventos recreativos y culturales, que propendan a la mayor
    integración entre los miembros de la comunidad especialmente vulnerable,
    reforzando los lazos de solidaridad y cooperación, entre los mismos y el resto de la
    comunidad de Gral. San Martín Chaco.</li>
<li style="text-align: justify;"> Impulsar la integración de distintas comunidades generando ámbitos de
    capacitación para el desarrollo integral de las personas, especialmente en oficios
    que les brinden una salida laboral a corto plazo para lograr el desarrollo del hombre
    y su grupo familiar en los aspectos de infraestructura, salud, educación, deporte,
    viviendas, cloacas, comedores y trabajo en sectores vulnerables a fin de rescatar la
    dignidad de las personas.</li>
<li style="text-align: justify;"> Acordar con organismos especializados , oficiales y/o particulares, municipales,
    provinciales, nacionales o del extranjero el intercambio de políticas, información,
    recursos humanos, financieros o de otra índole que sean conducentes a alcanzar
    por medios lícitos el mejoramiento de la calidad de vida de personas con
    necesidades básicas insatisfechas.</li>
<li style="text-align: justify;"> Gestionar y celebrar acuerdos o convenios con entidades, personas, equipos de
    investigación, universidades públicas o privadas, centro de estudios a nivel terciario
    superior, administrar proyectos de investigación y de desarrollo y otras actividades
    relacionadas con su objeto.</li>
<br><br>
<h3 style="text-align: center;"> Buscamos acercar a los grupos más vulnerables de la sociedad el acceso a la alimentación, la educación,
    capacitación, recreación apoyo psicológico moral y espiritual. Nuestro objetivo es seguir creciendo como 
    institución con la ayuda de todos y brindar conforte a niños, ancianos, y familias que lo requieran.
</h3>
    <img src=""/>
</div>
</body>

{% endblock %}