{% extends 'bienvenida.html' %}
{% load static %}
{% block content %}

   <div class="container">
      <h1 style="text-align: center;"> CONOCENOS</h1>
      <br><br>
      <h4 style="text-align: justify;"><u>MISION:</u> Nuestra misión es llevar la palabra de Dios, transmitir la fe a través de las obras y así sentir
         la presencia de su amor tomando conciencia de la maravilla de su Creación, viviendo en armonía, respeto y honra a la naturaleza, realizando huertas agroecológicas y vivencias al aire libre con grupos Boy-scouts.
         Establecer relación con el prójimo en un comedor infantil, acercándonos a personas que hayan sufrido pérdidas
         y estén en un proceso de duelo, por medio de visitas personales, talleres donde se brinde acompañamiento 
         espiritual y psicológico.
         Por medio de espacios radiales abrirnos a toda la comunidad, para que conociendo las actividades de la fundación 
         se sumen a nuestro proyecto.
         </h4>
      <h4 style="text-align: justify;">Somos una ONG formada por un grupo de voluntarios que hacen posible el desarrollo de diversas actividades de ayuda a la comunidad de General San Martin (Chaco, Argentina)</h4>
      <p style="text-align: justify;">Nuestro Presidente Rodolfo D. Insaurralde y los colabores de las distintas áreas. Ely Scarel, Natalia Sosa,
         Rocio Moreno y Katy en ACOMPAÑAMIENTO EN DUELO. 
         <br>
         Nuestra encargada Elsa Oviedo y su colaborador Rodolfo I. en la HUERTA AGROECOLÓGICA.
         <br>
         Nuestra encargada de ELABORACIÓN Y VENTAS de productos de limpieza MARIA JOSE. 
         <br>
         Nuestra encargada Maria Jose G. y sus colabores Romina, Elsa, Ely, Sonia del área COMEDOR Y MERENDERO. 
         <br>
         Y del área de PRENSA Y RADIO su Director Mauri Abraham y conductores Walter, Maria José, Blanca; productores 
         Natalia, Emanuel, y Jeny.

      Somos un Equipo que busca mejorar el estilo de vida, promover la esperanza en familias vulnerables, 
      mediante nuestras áreas y actividades extras como jornadas deportivas, peñas, sorteos a contribución, equipo a cargo de "Niños exploradores" 
      donde buscamos promover en los niños aprendizajes diversos que contribuyan a sus valores.
      </p>
   </div>

{% endblock %}