{% extends 'bienvenida.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 style="text-align: center;"> RADIO </h1>
    <br>
    <h2>Nuestro espacio de comunicacion con la comunidad y el mundo.</h2>
    <p>Compartimos nuestras vivencias y todo lo relacionado con nuestra fundacion en el programa  </p>
    <p>Todos los Jueves a las 20:30hs escuchanos en <a href="http://https://www.youtube.com/channel/UClJ5l7IdTudvXs01MM161OA">YouTube</a>. </p>
    <h4>Realizamos talleres de radio, comunicación y tecnologías de medios. </h4>
    <p>Vas a aprender a conducir, producir, dirigir y operar un programa de radio perdiendo el miedo a hablar en público.</p>
    <h4>PARA INSCRIPCIÓN Y MÁS INFORMACIÓN:</h4>
    <p>Mediante el area de prensa y difusión de la Fundación</p>
    <li> Jose Guimaraes: <a href="https://api.whatsapp.com/send?phone=543725455384">3725-455384</a></li>
    <li> Velozo: <a href="https://api.whatsapp.com/send?phone=543725541709">3725-541709</a></li>
    <br>
    <div align="center">
        <img src="{% static '/blog/images/radio1.jpeg' %}" width="240"/>
        <img src="{% static '/blog/images/radio2.jpeg' %}" width="550"/>
    </div>
    <br>
    
{% endblock %}
