<!DOCTYPE html>
<html lang="">
<head>
<title> FE </title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>"No es por Vista es por FE"</h1>
EN ESTA OPORTUNIDAD NOS DIRIGIMOS A USTEDES CON EL FIN DE EXPRESAR LOS MOTIVOS POR LOS CUALES NACIÓ ESTA INICIATIVA
QUE EN UN PRIMER MOMENTO FUE MUY PERSONAL, SOLO NUESTRA,  “LOS PADRES DE ALMA”.  COMO PADRES TERRENALES DE NUESTRA 
PRINCESA TUVIMOS QUE PASAR POR UN PROCESO MUY DURO, AL AFRONTAR SU PARTIDA TAN REPENTINA Y AL NO ENTENDER, COSA QUE 
TODO EL QUE PASA POR UNA SITUACION DE ESAS, LO ENTIENDE Y EL QUE NO, LO PUEDE IMAGINAR. 
<br><br>
DICHO PROCESO CONSISTIO EN MUCHO DOLOR, LÁGRIMAS Y HASTA DESEOS DE TODO TIPO. 
CUANDO PENSAMOS QUE TODO HABIA TERMINADO, FUE EN REALIDAD CUANDO TODO EMPEZABA.  
FUE ENTONCES QUE CONOCIMOS A NUESTRO SALVADOR <span style="color:blue"> JESUCRISTO</span> QUE CON SU AMOR Y GRACIA NOS LEVANTA CADA DIA Y PUDO SEMBRAR 
EN NUESTRA DEBILIDAD SU FORTALEZA, EVACUANDO TODAS NUESTRAS DUDAS O CONFIRMANDO LO QUE EN TEORIA SABEMOS O NOS ENSEÑARON. 
(QUE DIOS EXISTE, QUE SU REINO ESTA PRESENTE, QUE LA VIDA ETERNA ES LO QUE NOS REGALO). 
<br><br>
BUENO, TODO ESO “ES REAL”, EL SE ENCARGO DE HACERNOS SABER QUE ES ASI, Y AHÍ COMPRENDIMOS SU AMOR, SU MISERICORDIA, FUE COMO HACER UN CURSO ACELERADO DE 
LA VERDAD Y EL CAMINO A TRANSITAR PARA PODER ENTRAR A SU REINO. Y ASI CUANDO ÉL LO DECIDA, ENTRAR EN SU PRESENCIA JUNTO A 
NUESTRA ALMITA, PORQUE TAMBIEN NOS REVELO QUE ELLA ESTA CON ÉL. A RAIZ DE TODOS ESOS SUCESOS NOS DIMOS CUENTA QUE NUNCA 
NOS ABANDONÓ, NOS ESTA FORMANDO Y MOLDEANDO DE ACUERDO A SU VOLUNTAD, CON SU AMOR FUIMOS TRANSFORMANDO NUESTROS CORAZONES 
PARA ASI PODER NACER DE NUEVO. APRENDIMOS A USAR LA FE Y POR ESA FE ES LA QUE VIVIMOS DE AHORA EN MÁS.
<br><br>
<span style="color:blue"> PODER VIVIR DE ACUERDO AL AMOR DE DIOS ES NECESARIO CUMPLIR CON SU MANDAMIENTO, EL SEGUNDO EN IMPORTANCIA, “AMA AL PROJIMO COMO A TI MISMO” 
ESO ES LO QUE QUEREMOS COMO ESCENCIA EN HECHOS CON ALMA.</span>
ESTAMOS CONVENCIDOS QUE ESE ES EL CAMINO, “EL AMOR” POR ESE AMOR FUIMOS SALVADOS Y NO POR SER PERFECTOS SI NO POR LO CONTRARIO, 
PORQUE SIENDO IMPERFECTOS Y PECADORES ÉL NO NOS ABANDONÓ. Y POR ESA GRACIA RECIBIDA DEBEMOS INTENTAR MIRAR AL OTRO CON SUS OJOS. 
Y ASI DAR LO MISMO QUE HEMOS RECIBIDO Y EN LAS MISMAS CONDICIONES, ¡POR GRACIA!
<span style="color:blue"> INTENCION ES LOGRAR O INTENTAR QUE TODOS PUEDAN CONOCER A DIOS Y NO A UNA RELIGIÓN, QUE TODOS PUEDAN TENER COMUNIÓN CON 
NUESTRO PADRE.</span>
<br><br>
DE AHÍ  NACIERON TODAS LAS DEMAS IDEAS COMO MERENDERO, CONTENCION DE TODO TIPO, TALLERES, APOYO ESCOLAR, APOYO PSICOLÓGICO, ETC. 
DESTINADO A LOS NIÑOS Y A SU GRUPO FAMILIAR SIN QUE NADIE QUEDE EXCLUIDO,  Y ESO NOS LLEVO A SOÑAR  LA FUNDACION CON EDIFICIO PROPIO Y A CONTAR CON LA COLABORACION DE MUCHAS PERSONAS, 
SIEMPRE HACIENDO INCAPIE EN QUE LO MAS IMPORTANTE QUE PODEMOS DAR AL NECESITADO ES NUESTRO TIEMPO, PUESTO QUE LA FE SIN OBRA ESTA MUERTA.
¡¡ESTAMOS CONVENCIDOS QUE ESA OBRA SE VA A REALIZAR POR QUE ESTA EN MANOS DE DIOS!!
HECHOS CON ALMA VE AL PROJIMO DE LA MISMA MANERA QUE LO HACE JESÚS, ¡¡CON AMOR!! 
MUCHAS GRACIAS POR SU TIEMPO, DIOS LOS BENDIGA, LOS LLENE DE PAZ Y GRACIA.  RECUERDEN A CRISTO EN LA CRUZ Y RESUCITADO.
<br><br>
<h2>Para Nuestros talleres de Duelo o más información sobre el apoyo espiritual (talleres, misas, escuelita biblíca) contactate vía whatsapp o por nuestras redes sociales</h2>

</body>
</html>