{% extends 'bienvenida.html' %}
{% load static %}
{% block content %}
<body>
    <div class="container"><h1 style="text-align: center;">"No es por Vista es por FE"</h1><br>
		<p><h3>En esta oportunidad nos dirigimos a ustedes con el fin de expresar los motivos por los cuales nació esta iniciativa que en un primer momento fue muy personal, solo nuestra, “los padres de Alma”.  
		<br>Como padres terrenales de nuestra princesa tuvimos que pasar por un proceso muy duro al afrontar su partida tan repentina y al no entender, cosa que todo el que pasa por una situación de esas, lo entiende y el que no, lo puede imaginar.
		<br><br>
		Dicho proceso consistió en mucho dolor, lágrimas y hasta deseos de todo tipo. Cuando pensamos que todo había terminado, fue en realidad cuando todo empezaba.  Fue entonces que conocimos a nuestro salvador <span style="color:blue"> JESUCRISTO</span> que con su amor y gracia nos levanta cada día y pudo sembrar en nuestra debilidad su fortaleza, evacuando todas nuestras dudas o confirmando lo que en teoría sabemos o nos enseñaron, (que Dios existe, que su reino está presente, que la vida eterna es lo que nos regaló). 
		<br><br>
		Bueno, todo eso “es real”, Él se encargó de hacernos saber que es así, y ahí comprendimos su amor, su misericordia, fue como hacer un curso acelerado de la verdad y el camino a transitar para poder entrar a su Reino. Y así cuando Él lo decida, entrar en su presencia junto a nuestra Almita, porque también nos revelo que ella esta con él. A raíz de todos esos sucesos nos dimos cuenta que nunca nos abandonó, nos está formando y moldeando de acuerdo a su voluntad, con su amor fuimos transformando nuestros corazones para así poder nacer de nuevo. aprendimos a usar la fe y por esa fe es la que vivimos de ahora en más.
		<br><br>
		<span style="color:blue"> Para poder vivir de acuerdo al amor de Dios es necesario cumplir con su mandamiento, el segundo en importancia, “ama al prójimo como a ti mismo” eso es lo que queremos como esencia en Hechos con Alma.</span>
Estamos convencidos que ese es el camino: “el Amor”, por ese Amor fuimos salvados y no por ser perfectos si no por lo contrario, porque siendo imperfectos y pecadores Él no nos abandonó, y por esa gracia recibida debemos intentar mirar al otro con sus ojos, y así dar lo mismo que hemos recibido y en las mismas condiciones, ¡Por Gracia!<br>
		<span style="color:blue"> Nuestra intención es lograr o intentar que todos puedan conocer a Dios y no a una religión, que todos puedan tener comunión con Nuestro Padre.</span>
		<br><br>
		De ahí nacieron todas las demás ideas como merendero, contención de todo tipo, talleres, apoyo escolar, apoyo psicológico, etc., destinado a los niños y a su grupo familiar sin que nadie quede excluido, y eso nos llevó a soñar la fundación con edificio propio y a contar con la colaboración de muchas personas, siempre haciendo hincapié en que lo más importante que podemos dar al necesitado es nuestro tiempo, puesto que la Fe sin obra está muerta.
¡¡estamos convencidos que esa obra se va a realizar porque está en manos de Dios!!
"Hechos con Alma" ve al prójimo de la misma manera que lo hace Jesús, ¡¡CON AMOR!! <br>
Muchas gracias por su tiempo, Dios los bendiga, los llene de paz y gracia.  <br>Recuerden a Cristo en la Cruz y Resucitado.
<br><br></p>
<h2>Para Nuestros talleres de Duelo o más información sobre el apoyo espiritual (talleres, misas, escuelita biblíca) contactate vía whatsapp o por nuestras redes sociales</h2>
</div>
</body>
{% endblock %}